// Default parameters
params {
    input     = null
    reference = null
    outdir    = 'results'
    qc_only   = false
}

// Execution profiles
profiles {
    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }

    test {
        params.input     = 'test_data/samples.csv'
        params.reference = 'test_data/genome.fa'
    }
}

// Process resource defaults
process {
    cpus   = 2
    memory = '4 GB'
    time   = '1h'
}
